<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta tags for character encoding and responsive viewport -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSE 477 - Homework 1</title>
    <!-- CSS file links -->
    <link rel="stylesheet" href="../static/main/css/main.css">
    <link rel="stylesheet" href="../static/main/css/header.css">
    <link rel="stylesheet" href="../static/main/css/navbar.css">
    <link rel="stylesheet" href="../static/main/css/footer.css">
</head>
<body>
    <!-- Header section with banner image -->
    <header>
        <img src="/static/main/images/banner.jpg" alt="Banner image" loading="lazy">
    </header>

    <!-- Navigation bar -->
    <nav>
        <div class="nav-title">CSE 477 - Homework 1</div>
        <div class="nav-links">
            <a href="home.html">Home</a>
            <a href="projects.html">Projects</a>
            <a href="https://www.linkedin.com/in/samuel-koffler/details/featured/" target="_blank" class="resume-link">Resume</a>
            <a href="https://www.linkedin.com/in/samuel-koffler/" class="linkedin-link">
                <img src="../static/main/images/social-linkedin.png" alt="" loading="lazy">
                <span class="mobile-text">LinkedIn</span>
            </a>
        </div>
        <div class="menu-bar">☰</div>
    </nav>

    <!-- Main content area -->
    <main>
        <!-- Profile section -->
        <div class="profile-container">
            <div class="profile-image">
                <img src="../static/main/images/profile_headshot.jpg" alt="Sam Koffler" loading="lazy">
            </div>
            <div class="profile-info">
                <h1>Sam Koffler</h1>
                <p>Driven to make an impact on the world, I am pursuing a degree in Computer Science at Michigan State University at the Junior level. With a proficiency in Python, C++, and C, I am eager to create solutions to problems that people face. I possess effective communication and teamwork capabilities, demonstrated through my leadership in the student organizations I'm involved with. I am in search for an internship for the summer of 2025 to strengthen my identity as a collaborator and as an engineer.</p>
            </div>
        </div>
        <!-- Divider line -->
        <hr class="divider">
        <!-- Fun fact section -->
        <div class="fun-fact">
            <p class="primary-fact">A fun fact about me:</p>
            <p class="secondary-fact">I've been doing breakdancing for 2 years.</p>
        </div>
    </main>

    <!-- Footer section -->
    <footer>
        <p>© Samuel J. Koffler</p>
    </footer>

    <!-- JavaScript file link -->
    <script src="../static/main/js/navbar.js"></script>
</body>
</html>
