<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta tags for character encoding and responsive viewport -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSE 477 - Homework 1</title>
    <!-- CSS file links -->
    <link rel="stylesheet" href="../static/main/css/main.css">
    <link rel="stylesheet" href="../static/main/css/header.css">
    <link rel="stylesheet" href="../static/main/css/navbar.css">
    <link rel="stylesheet" href="../static/main/css/footer.css">
</head>
<body>
    <!-- Header section with banner image -->
    <header>
        <img src="/static/main/images/banner.jpg" alt="Banner image" loading="lazy">
    </header>

    <!-- Navigation bar -->
    <nav>
        <div class="nav-title">CSE 477 - Homework 1</div>
        <div class="nav-links">
            <a href="home.html">Home</a>
            <a href="projects.html">Projects</a>
            <a href="https://www.linkedin.com/in/samuel-koffler/details/featured/1739659340119/single-media-viewer/?profileId=ACoAAEaVBMkBJWQe-cC38M4Jbc5lFEbedQSZeRA" target="_blank" class="resume-link">Resume</a>
            <a href="https://www.linkedin.com/in/samuel-koffler/" class="linkedin-link">
                <img src="../static/main/images/social-linkedin.png" alt="" loading="lazy">
                <span class="mobile-text">LinkedIn</span>
            </a>
        </div>
        <div class="menu-bar">☰</div>
    </nav>

    <!-- Main content area -->
    <main>
        <!-- Projects introduction -->
        <div class="projects-intro">
            <h1>Below is a list of projects I worked on in CSE 477:</h1>
            <p>Click an image, or hyperlink in the description to learn more.</p>
        </div>

        <!-- Divider line -->
        <hr class="divider">
        <!-- Project container -->
        <div class="profile-container">
            <div class="profile-image">
                <a href="piano.html">
                    <img src="../static/main/images/piano.jpeg" alt="Piano Project" loading="lazy">
                </a>
            </div>
            <div class="profile-info">
                <h1>Javascript Piano</h1>
                <p>As part of my first Homework assignment in CSE477, I developed an interactive piano build in pure HTML, CSS and Javascript. This tool (in addition to my webpage) highlight my ability to build beautiful and mobile-friendly front-end applications. <a href="piano.html">Click here to see, and play!</a></p>
            </div>
        </div>
        <!-- Divider line -->
        <hr class="divider">
        <!-- More projects coming soon message -->
        <div class="more-to-come">
            <p>More coming soon!</p>
        </div>
    </main>

    <!-- Footer section -->
    <footer>
        <p>© Samuel J. Koffler</p>
    </footer>

    <!-- JavaScript file link -->
    <script src="../static/main/js/navbar.js"></script>
</body>
</html>